.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(237, 240, 232);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1600px;
}

.proj {
  margin: 25px;
  max-width: 600px;
  width: 50vw;
}

.projectTitle {
  margin: 35px auto;
  font-family: 'Architects Daughter', cursive, Arial, Helvetica, sans-serif;
}

.toolUse {
  padding: 10px;
  margin: 15px 3px 0px 3px;
  border-radius: 15px;
  background-color: rgba(175,210,117,0.8);
}

.card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 12px;
  border-radius: 10px;
  height: 650px;
  min-width: 400px;
  background:rgba(256, 256, 256, 0.8);
}

.card-title {
  font-size: 24px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

/* .overlay {
  background-color: rgba(95,185,160,0.5);
  height: 200px;
  width: calc(100% - 22px);
  padding-top: 48%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

.icon {
  width: 50px;
  margin: auto 20px;
}

.icon:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 850px) {
  .card {
    min-width: auto;
    height: auto;
  }
  .proj {
    width: 90vw;
  }
}
