.home {
  min-height: 93vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(192,219,145);
  background-image: radial-gradient(whitesmoke, #116466);
  border-bottom: 0.5px solid rgba(50, 50, 50, 0.4);
}

.pic {
  border-radius: 50%;
  width: 200px;
  min-height: 150px;
  margin: 5vw;
  overflow: hidden;
  border: 3px solid gray;
  background-color: #444;
}

.pic > img {
  object-fit: cover;
}

.brief {
  max-width: 500px;
  text-align: center; 
}

h1.name {
  font-size: 50px;
  margin-bottom: 5px;
  font-family: 'Architects Daughter', cursive, Arial, Helvetica, sans-serif;
}

.intro {
  color: #606060;
  font-size: 20px;
}

.blurb {
  font-size: 20px;
  font-family: 'Architects Daughter', cursive, Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 875px) {
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 400px) {
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
