.gearLanding {
  height: 100vh;
  /* background-color: black; */
  padding: 0;
  margin: 0;
  color: #606060;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.gearWrapper, .gearMenu {
  height: 140px;
  width: 160px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.gearMenu {
  z-index: -1;
  transform: scale(0.9);
}

.outerGearBox {
  /* background-color: rgba(0,0,0,0); */
  background-color: lightblue;
  height: 460px;
  width: 480px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.3;
}

.gearBox {
  height:0;
  width: 160px;
  border-bottom: 70px solid #39ff14;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  position: absolute;
  top:0;
}

.gearBox:before {
  content: '';
  height:0;
  width: 160px;
  border-top: 70px solid #39ff14;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  position: absolute;
  top:70px;
  left: -40px;
}

.gearImg {
  height: 100px;
  width: 100px;
  position: relative;
  top: 20px;
  right: 10px;
  border-radius: 50%;
}

.gearItem {
  height:0;
  width: 160px;
  border-bottom: 70px solid black;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  position: absolute;
  top:0;
  transition: 0.5s;
}

.gearItem:before {
  content: '';
  height:0;
  width: 160px;
  border-top: 70px solid black;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  position: absolute;
  top:70px;
  left: -40px;
}

.gearItem > a {
  position: relative;
  top: 55px;
  left: 0;
  font-size: 18px;
}
