.timelineitem {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    margin: 10px 0;
    width: 50%;
}

.timelineitem:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0px;
}

.timelineitem__content {
    max-width: 60%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    min-width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    position: relative;
}

.timelineitem:nth-child(odd) .timelineitem__content {
    align-items: flex-start;
    text-align: left;
}

.timelineitem__content::after {
    content: '';
    background-color: #fff;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    position: absolute;
    right:-7.5px;
    top: 20px;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
}

.timelineitem:nth-child(odd) .timelineitem__content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timelineitem__title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    top: 10px;
    left: 5px;
    text-transform: uppercase;
}

.timelineitem:nth-child(odd) .timelineitem__title {
  left: auto;
  right: 5px;  
}

.timelineitem__steps {
    height: 40px;
    width: 40px;
    color: black;
    font-size: 20px;
    font-weight: bold; 
    text-decoration: underline;
}

.timelineitem__content p {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;
}

.timelineitem__content .timelineitem__circle {
    background-color: #fff;
    border: 3px solid brown;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -40px;
    z-index: 100;
}

.timelineitem:nth-child(odd) .timelineitem__content .timelineitem__circle {
    right: auto;
    left: -40px;
}