@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 2000px;
  background-color: rgb(237, 240, 232);
}

#root {
  background-color: rgb(237, 240, 232);
}
